<h1>Create a new Account</h1>
<div>
  <form class="col-lg-6 col-md-10 col-sm-12 mb-4 align-content-center">

    <div id="errorMessage">

    </div>

    <div class="input-group mb-3">
      <label for="DisplayNameNew" class ="input-group-text">Display: </label>
      <input  id="DisplayNameNew" name="DisplayNameNew" type="text" class="form-control"
              aria-describedby="DisplayNew-error" aria-label="Full Name" required>
      <span id="DisplayName-error" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
      <label for="emailAddressNew" class ="input-group-text">Email Address: </label>
      <input  id="emailAddressNew" name="emailAddressNew" type="email" class="form-control"
              aria-describedby="emailAddressNew-error" aria-label="Email Address" required>
      <span id="emailAddress-error" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
      <label for="userNameNew" class ="input-group-text">Username: </label>
      <input  id="userNameNew" name="userNameNew" type="text" class="form-control"
              aria-describedby="userNew-error" aria-label="Full Name" required>
      <span id="userName-error" class="text-danger"></span>
    </div>

    <div class="input-group mb-3">
      <label for="passwordNew" class="input-group-text"><i class="fa fa-lock"></i>Password</label>
      <input id="passwordNew" name="passwordNew" type="password" class="form-control" required>
      <span id="passwordNew-error" class="text-danger"></span>
    </div>

    <button id="createAccount" type="submit" class="btn btn-primary"><i class="fa-solid fa-envelope"></i> Create Account</button>
    <button id="cancelAccount" type="reset" class="btn btn-warning"><i class="fa-solid fa-rotate-left"></i> Cancel</button>
  </form>
</div>