<h1>Update Post</h1>
<form>
  <div class="text-center">
    <label for="postTitle">Post Title:</label>
    <input type="text" name="postTitle" id="postTitle" required><br><br>
  </div>

  <div class="text-center">
    <label for="postDes" >Description</label><br><br>
    <textarea class="form-control-lg w-200" id="postDes" required>

    </textarea>
  </div>
  <br>
  <div class="text-center">
    <button id="newPost" class="btn btn-success" type="button">Submit</button>
    <button id="cancelPost" class="btn btn-primary"  type="button">Cancel</button>
  </div>
</form>