<div class="container">
    <h2 class="text-center">Statistics</h2>
    <h5 class="mt-5 mb-2">Statistics in a bar chart format</h5>
    <div>The bar chart below shows the statistics of the number of visitors that visited this website in the past year</div>
    <div class="mb-3"><canvas id="barChart" style="width:100%;max-width:700px"></canvas></div>
    <h5 class="mt-5 mb-3">Statistics in a pie chart format</h5>
    <div>The figure below shows an alternative perspective in form of a pie chart</div>
    <div class="mb-3"><canvas id="pieChart" style="width:100%;max-width:700px"></canvas></div>
</div>