<div class="container">

  <div class="mb-5">
    <h1>Update Event</h1>
    <p>You can update your event from here </p>
  </div>
  <div>
    <h3 class="text-success" id="messageSubmitted"></h3>
    <form class="mt-5" action="">
      <h3 class="text-center">Events planning form</h3>
      <div class="text-center">
        <label for="uName">Event Name</label>
        <input type="text" name="uName" id="uName" required><br><br>
      </div>

      <div class="text-center">
        <label for="uDate">Event Date</label>
        <input type="date" name="uDate" id="uDate" required><br><br>
      </div>

      <div class="text-center">
        <label for="uTime">Event Time</label>
        <input type="time" name="uTime" id="uTime" required><br><br>
      </div>

      <div class="text-center">
        <label for="uLocation">Event Location</label>
        <input type="text" name="uLocation" id="uLocation" required><br><br>
      </div>

      <div class="text-center">
        <label for="uDescription">Event Description</label>
        <textarea type="text" name="uDescription" id="uDescription" required></textarea><br><br>
      </div>
      <div class="text-center">
        <button class="btn btn-primary" id="submitUpdatedEvent" type="submit">Submit</button>
        <button class="btn btn-primary" id="cancelUpdateEvent" type="submit">Cancel</button>
      </div>
      <br>
      <br>
      <br>
    </form>
  </div>
</div>