<div class="container">

    <div class="mb-5">
    <h1 class="text-center">Events Planning</h1>
    <p>Do you have ideas or events you would like to add to the volunteer Connect Community </p>
    </div>
    <div>
    <form class="mt-5" action="">
        <h3 class="text-center">Events planning form</h3>
        <div class="text-center">
            <label for="eName">Event Name</label>
            <input type="text" name="eName" id="eName" required><br><br>
        </div>

        <div class="text-center">
            <label for="eDate">Event Date</label>
            <input type="text" name="eDate" id="eDate" required><br><br>
        </div>

        <div class="text-center">
            <label for="eTime">Event Time</label>
            <input type="text" name="eTime" id="eTime" required><br><br>
        </div>

        <div class="text-center">
            <label for="eLocation">Event Location</label>
            <input type="text" name="eLocation" id="eLocation" required><br><br>
        </div>

        <div class="text-center">
            <label for="eDescription">Event Description</label>
            <input type="text" name="eDescription" id="eDescription" required><br><br>
        </div>
        <div class="text-center">
            <button class="btn btn-primary" id="submitEvent" type="submit">Submit</button>

        <div class="mt-5">
            <h3>Below is a list of planned  events</h3>
        </div>
        </div>
        <div id="forDisplayingEvents">

        </div>
        <br>
        <br>
        <br>
    </form>
    </div>
</div>